// Grid system
.wppb {
  &__grid {
    display: grid;
    gap: 20px;
    
    &--2-cols {
      grid-template-columns: repeat(2, 1fr);
    }
    
    &--3-cols {
      grid-template-columns: repeat(3, 1fr);
    }
    
    &--4-cols {
      grid-template-columns: repeat(4, 1fr);
    }
  }
} 