/**
 * Screen reader text
 */
%sr-only {
    top: auto;
    left: -10000rem;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}
