/* stylelint-disable */
/* System Status */

.cs_wppb_system_report {

	mark {
		background: transparent;
		color: #999;
		&.yes {
			color: #7ad03a;
		}
	}

	mark.error,
	.error_message {
		color: #a00;
	}

	&_alert {
		border-left-color: #2ea2cc !important;
		box-sizing: border-box;
		display: block;
		width: 100%;
		position: relative;
		padding-bottom: 10px !important;

		.inline {
			display: inline;
		}
	}
}

.cs_wppb_copy_message {
	color: #080;
	display: none !important;
}

#System_Report {
	/* hide textarea behind the button */
	position: absolute;
	height: 10px;
	width: 10px;
	top: 65px;
	left: 20px;
	z-index: -1;

	/*
	height:500px;
	width:500px;*/
}
