/**
 * Admin Stylesheet
 * 
 * This is the main entry point for the admin-facing styles.
 */

// Abstract imports (variables, functions, mixins)
@use 'abstracts' as *;

// Core imports
// @use './core/admin/index' as *;

// Components
// @use '@styles/components/admin' as *;

// Vendor/Third-party
@use 'vendor/sprites' as *;
