$sprites: (
    'facebook': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M64 32a32 32 0 1 0-37 31.61V41.25h-8.12V32H27v-7c0-8 4.78-12.45 12.09-12.45a49.54 49.54 0 0 1 7.16.62V21h-4c-4 0-5.21 2.47-5.21 5v6h8.88l-1.42 9.25H37v22.36A32 32 0 0 0 64 32z'/%3e%3c/svg%3e",
    'instagram': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32 0c-8.69 0-9.78 0-13.19.19A23.59 23.59 0 0 0 11 1.68a15.67 15.67 0 0 0-5.63 3.69A15.67 15.67 0 0 0 1.68 11a23.59 23.59 0 0 0-1.49 7.81C0 22.22 0 23.31 0 32s0 9.78.19 13.19A23.59 23.59 0 0 0 1.68 53a15.67 15.67 0 0 0 3.69 5.67A15.67 15.67 0 0 0 11 62.32a23.59 23.59 0 0 0 7.77 1.49C22.22 64 23.31 64 32 64s9.78 0 13.19-.19A23.59 23.59 0 0 0 53 62.32 16.34 16.34 0 0 0 62.32 53a23.59 23.59 0 0 0 1.49-7.77C64 41.78 64 40.69 64 32s0-9.78-.19-13.19A23.59 23.59 0 0 0 62.32 11a15.67 15.67 0 0 0-3.69-5.67A15.67 15.67 0 0 0 53 1.68 23.59 23.59 0 0 0 45.19.19C41.78 0 40.69 0 32 0zm0 5.77c8.54 0 9.56 0 12.93.18a17.81 17.81 0 0 1 5.94 1.1 9.87 9.87 0 0 1 3.68 2.4A9.87 9.87 0 0 1 57 13.13a17.81 17.81 0 0 1 1.1 5.94c.15 3.37.18 4.39.18 12.93s0 9.56-.18 12.93a17.81 17.81 0 0 1-1.1 5.94A10.66 10.66 0 0 1 50.87 57a17.81 17.81 0 0 1-5.94 1.1c-3.37.15-4.39.18-12.93.18s-9.56 0-12.93-.18a17.81 17.81 0 0 1-5.94-1.1 9.87 9.87 0 0 1-3.68-2.4 9.87 9.87 0 0 1-2.4-3.68A17.81 17.81 0 0 1 6 44.93c-.2-3.37-.23-4.39-.23-12.93s0-9.56.18-12.93a17.81 17.81 0 0 1 1.1-5.94 9.87 9.87 0 0 1 2.4-3.68 9.87 9.87 0 0 1 3.68-2.4A17.81 17.81 0 0 1 19.07 6c3.37-.15 4.39-.18 12.93-.18m0 36.9A10.67 10.67 0 1 1 42.67 32 10.67 10.67 0 0 1 32 42.67zm0-27.1A16.43 16.43 0 1 0 48.43 32 16.42 16.42 0 0 0 32 15.57zm20.92-.65a3.84 3.84 0 1 1-3.84-3.84 3.84 3.84 0 0 1 3.84 3.84z'/%3e%3c/svg%3e",
    'pinterest': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32 0a32 32 0 0 0-11.67 61.81 30.86 30.86 0 0 1 .11-9.19c.58-2.5 3.74-15.91 3.74-15.91a11.62 11.62 0 0 1-.95-4.71c0-4.45 2.58-7.77 5.79-7.77 2.74 0 4.06 2.06 4.06 4.51 0 2.74-1.74 6.85-2.66 10.66a4.66 4.66 0 0 0 4.74 5.8c5.69 0 10.06-6 10.06-14.64 0-7.67-5.5-13-13.38-13-9.11 0-14.46 6.83-14.46 13.88a12.56 12.56 0 0 0 2.37 7.3.94.94 0 0 1 .21.92c-.23 1-.79 3.19-.89 3.64s-.48.71-1.08.42C14 41.8 11.48 36 11.48 31.26c0-10.08 7.32-19.36 21.15-19.36 11.09 0 19.73 7.91 19.73 18.49 0 11-7 19.91-16.59 19.91-3.24 0-6.3-1.68-7.33-3.68 0 0-1.6 6.11-2 7.61a35 35 0 0 1-4 8.4A32 32 0 1 0 32 0z'/%3e%3c/svg%3e",
    'twitter': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M64 32A32 32 0 1 1 32 0a32 32 0 0 1 32 32zM26.14 48.88c14.2 0 22-11.76 22-22v-1a16 16 0 0 0 3.86-4 15.93 15.93 0 0 1-4.44 1.21 7.73 7.73 0 0 0 3.4-4.27A15.61 15.61 0 0 1 46 20.75 7.72 7.72 0 0 0 32.66 26a7.25 7.25 0 0 0 .2 1.76A21.9 21.9 0 0 1 17 19.73 7.71 7.71 0 0 0 19.36 30a7.78 7.78 0 0 1-3.49-1v.09a7.73 7.73 0 0 0 6.19 7.57A7.48 7.48 0 0 1 20 37a7.83 7.83 0 0 1-1.45-.14 7.7 7.7 0 0 0 7.2 5.36 15.54 15.54 0 0 1-9.59 3.29 14.09 14.09 0 0 1-1.84-.11 21.49 21.49 0 0 0 11.79 3.49'/%3e%3c/svg%3e"
);

$sizes: (
    'facebook': (
        'width': 64px,
        'height': 63.61px
    ),
    'instagram': (
        'width': 64px,
        'height': 64px
    ),
    'pinterest': (
        'width': 63.95px,
        'height': 64.05px
    ),
    'twitter': (
        'width': 64px,
        'height': 64px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $encoded: '';
    $slice: 2000;
    $index: 0;

    @for $i from 1 through ceil(str-length($value) / $slice) {
        $chunk: str-slice($value, $index, $index + $slice - 1);
        $chunk: sprite-str-replace($chunk, '"', "'");
        $chunk: sprite-str-replace($chunk, '<', '%3C');
        $chunk: sprite-str-replace($chunk, '>', '%3E');
        $chunk: sprite-str-replace($chunk, '&', '%26');
        $chunk: sprite-str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return $encoded;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        @if $include-size == true {
            background-size: map-get($size, width) map-get($size, height);
        } @else if $include-size == 'box' {
            width: map-get($size, width);
            height: map-get($size, height);
        }
    }
}
