// Admin form styles
.wppb-admin {
  .form-table {
    border-collapse: collapse;
    margin-top: 0.5em;
    width: 100%;
    clear: both;

    th {
      vertical-align: top;
      text-align: left;
      padding: 20px 10px 20px 0;
      width: 200px;
      line-height: 1.3;
      font-weight: 600;
    }

    td {
      margin-bottom: 9px;
      padding: 15px 10px;
      line-height: 1.3;
      vertical-align: middle;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    textarea {
      width: 25em;
      margin: 0;
      padding: 3px 5px;
      box-sizing: border-box;
    }
  }

  .submit {
    margin-top: 20px;
    padding: 0;
  }
} 