/**
 * Font sizing shortend
 */

@mixin font-size(
    $font-size,
    $line-height: get-font("base-size"),
    $letter-spacing: 0
) {
    @if $font-size {
        font-size: calc-rem($font-size);
    }

    @if $line-height == 1 {
        line-height: 1;
    }

    @if $line-height != get-font("base-size") {
        line-height: calc-leading($font-size, $line-height);
    }

    @if $letter-spacing != 0 {
        letter-spacing: calc-spacing($letter-spacing);
    }
}

/**
 * Get custom font family from map
 */

@mixin font-family($name, $weight: 400, $style: "normal") {
    @if $style != "normal" {
        font-style: $style;
    }

    @if $name {
        font-family: get-font($name);
    }

    @if $weight != 400 and $weight != "normal" {
        font-weight: $weight;
    }
}

/**
 * Links styling
 *
 * Usage:
 *
 * a {
 *     @include link-colors('red', 'white');
 * }
 *
 * Generates follwoing CSS:
 *
 * a:link,
 * a:focus,
 * a:active,
 * a:visites {
 *     color: red;
 * }
 *
 * a:hover {
 *     color: white;
 * }
 *
 * If $hover is ommited $normal var is used as a hover as well.
 *
 * @return {mixed} scss code
 */

@mixin link-colors($normal, $hover: "none") {
    @if $hover == "none" {
        $hover: $normal;
    }

    &:link,
    &:focus,
    &:active,
    &:visited {
        color: $normal;
    }

    &:hover {
        color: $hover;
    }
}
