/**
 * Links styling
 * Based on compass-style @mixin
 *
 * Usage:
 *
 * a {
 *     @include link-colors('red', 'white');
 * }
 *
 * Generates follwoing CSS:
 *
 * a:link,
 * a:focus,
 * a:active,
 * a:visites {
 *     color: red;
 * }
 *
 * a:hover {
 *     color: white;
 * }
 *
 * If $hover is ommited $normal var is used as a hover as well.
 *
 * @return {mixed} scss code
 */

@mixin link-colors($normal, $hover: 'none') {
    @if $hover == 'none' {
        $hover: $normal;
    }

    &:link,
    &:focus,
    &:active,
    &:visited {
        color: $normal;
    }

    &:hover {
        color: $hover;
    }
}
