@font-face {
    font-family: Graphik;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/Graphik-Medium-Web.eot);
    src:
        url(../fonts/Graphik-Medium-Web.eot?#iefix) format("embedded-opentype"),
        url(../fonts/Graphik-Medium-Web.woff2) format("woff2"),
        url(../fonts/Graphik-Medium-Web.woff) format("woff");
}
